input {
  border: 1px solid #999;
  padding: 8px;
  width: 90%;
  max-height: 18px;
  height: 18px;
  margin: 15px 0 15px 0;
  border-radius: 5px;
  font-size: 14px;
}
input:focus-visible {
  outline-color: #55d6ffbf;
}
.no-autocomplete {
  color: black;
  padding: 8px;
}
.autocomplete {
  border: 1px solid black;
  border-top-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0;
  width: 90%;
  position: absolute;
  background-color: #ffffff;
  top: 52px;
  z-index: 10;
}
.autocomplete::-webkit-scrollbar {
  display: none;
}
.autocomplete li {
  padding: 8px;
}
.autocomplete > .active,
.autocomplete li:hover {
  transition: 50ms font-weight;
  background-color: #55d6ffbf;
  cursor: pointer;
  font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.fields {
  max-width: 400px;
  flex: 1;
}
.fields span {
  font-size: 20px;
  margin-bottom: 15px;
}
